.jumbotron {
    background-color: #17E9E0;
  }
  
  .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #A64AC9;
    text-shadow: 1px 1px black;
  }
  
  .subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: White;
  }
  
  .instructions {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #123C69;
  }